<main class="wrapper">
  <div class="first-screen" *ngIf="!groups.length">
    <div class="date-block" *ngIf="!date">
      <label class="month-picker">
        <select [(ngModel)]="month" #monthSelect="ngModel" [class.active]="!!month">
          <option value="0">Январь</option>
          <option value="1">Февраль</option>
          <option value="2">Март</option>
          <option value="3">Апрель</option>
          <option value="4">Май</option>
          <option value="5">Июнь</option>
          <option value="6">Июль</option>
          <option value="7">Август</option>
          <option value="8">Сентябрь</option>
          <option value="9">Октябрь</option>
          <option value="10">Ноябрь</option>
          <option value="11">Декабрь</option>
        </select>
      </label>

      <label class="year-picker">
        <select [(ngModel)]="year" #yearSelect="ngModel" [class.active]="!!year">
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
        </select>
      </label>

      <button
        class="btn btn-info"
        (click)="submitDate()"
        [disabled]="yearSelect.pristine || monthSelect.pristine"
      >
        OK
      </button>
    </div>

    <label class="upload-btn" *ngIf="date">
      Нажмите, чтобы загрузить файл
      <input type="file" (change)="fileUpload($event)" accept=".xlsx, .xls"/>
    </label>
  </div>

  <div class="btn-group btn-group-lg" role="group" *ngIf="groups.length">
    <button
      type="button"
      class="btn btn-info"
      [class.active]="activeGroup.name === group.name"
      *ngFor="let group of groups"
      (click)="setActiveGroup(group)"
    >
      {{ group.name }}
    </button>
  </div>

  <app-table [data]="activeGroup" [date]="date"></app-table>
</main>
