<main class="container">
  <div class="upload-btn" *ngIf="!groups.length">
    <label>
      Нажмите, чтобы загрузить файл
      <input type="file" (change)="fileUpload($event)" accept=".xlsx, .xls"/>
    </label>
  </div>

  <div class="btn-group btn-group-lg" role="group" *ngIf="groups.length">
    <button
      type="button"
      class="btn btn-info"
      [class.active]="activeGroup.name === group.name"
      *ngFor="let group of groups"
      (click)="setActiveGroup(group)"
    >
      {{ group.name }}
    </button>
  </div>
</main>
