<div class="header">
  <p *ngIf="group">Дата: {{ date | date:'MM'}}/{{ date | date:'yyyy'}}</p>
  <button *ngIf="group" type="button" class="btn btn-success">Сформировать план-график</button>
  <p *ngIf="group">Количество рабочих дней: <span>{{ getWorkDayNumber() }}</span></p>
</div>

<table *ngIf="group">
  <thead>
    <tr>
        <th colspan="4">Дни дежурств и после дежурств</th>
        <th *ngFor="let item of group.objects[0].fields; index as i; trackBy:trackByFn">
          <label>
            <input
              type="checkbox"
              (click)="chooseShifts(i)"
            >
          </label>
        </th>
    </tr>
    <tr>
        <th colspan="4">Календарные выходные и праздничные дни</th>
        <th *ngFor="let item of group.objects[0].fields; index as i; trackBy:trackByFn">
          <label>
            <input
              type="checkbox"
              (click)="chooseWeekends(i)"
              [checked]="getDayNumber(i) === 7 || getDayNumber(i) === 6"
            >
          </label>
        </th>
      </tr>
    <tr>
      <th colspan="4">День недели</th>
      <th
        *ngFor="let item of group.objects[0].fields; index as i; trackBy:trackByFn"
        [style.background]="(getDayNumber(i) === 7 || getDayNumber(i) === 6) ? '#ff0000' : '#b4e4e0'"
      >
        {{ getDayNumber(i) }}
      </th>
    </tr>
    <tr>
      <th class="p2">P2</th>
      <th>№ п/п</th>
      <th>Наименование объекта</th>
      <th>Кол. усл. установок</th>
      <th *ngFor="let item of group.objects[0].fields; index as i; trackBy:trackByFn">{{ i + 1 }}</th>
      <th>Остаток</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of group.objects; index as i; trackBy:trackByFn">
      <td class="p2"><input type="checkbox" (click)="setP2(object)"></td>
      <td>{{ i + 1 }}</td>
      <td>{{ object.name }}</td>
      <td>{{ object.rate }}</td>
      <td
        *ngFor="let item of object.fields; index as j; trackBy:trackByFn"
        [class.weekend]="weekends.includes(j)"
        [class.shift]="shifts.includes(j)"
      >
        <input
          type="text"
          [(ngModel)]="object.fields[j]"
          (blur)="checkRest(object, object.fields[j])"
        >
      </td>
      <td>{{ object.rest }}</td>
    </tr>
    <tr class="result">
      <td colspan="2"></td>
      <td>Итого:</td>
      <td>{{ resultRate }}</td>
      <td *ngFor="let item of group.objects[0].fields; index as i; trackBy:trackByFn">
        {{ getDayResult(i) === 0 ? null : getDayResult(i) }}
      </td>
    </tr>
  </tbody>
</table>
