table {
  margin: 20px 0;
}

table thead tr:first-child th {
  text-align: center;
  background: #eec3f7
}

table thead tr:first-child label {
  margin-bottom: 0;
  width: 100%;
  cursor: pointer;
}

table thead tr:first-child input {
  cursor: pointer;
}

table thead tr:nth-child(2) th {
  text-align: center;
  background: #b4e4e0
}

table th {
  border: 1px solid #000000;
  padding: 3px;
  min-width: 30px;
}

table th:nth-child(n+3),
table td:nth-child(n+3) {
  text-align: center;
}

table td:nth-child(n+4) {
  padding: 0;
}

table td:nth-child(n+3) input {
  width: 30px;
  height: 24px;
  border: 0;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
}

table td {
  border: 1px solid #000000;
  padding: 3px;
  min-width: 30px;
}

table .weekend {
  background: #00ffff;
}

p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
