table {
  margin: 20px 0;
}

table thead tr:first-child th {
  text-align: center;
  background: #b4e4e0
}

table th {
  border: 1px solid #000000;
  padding: 3px;
  min-width: 30px;
  background: #cecece;
}

table th:nth-child(n+3),
table td:nth-child(n+3) {
  text-align: center;
}

table td:nth-child(n+4) {
  padding: 0;
}

table td:nth-child(n+3) input {
  width: 30px;
  height: 24px;
  border: 0;
  padding: 0 3px;
  font-size: 12px;
  text-align: center;
}

table td {
  border: 1px solid #000000;
  padding: 3px;
  min-width: 30px;
}

p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
